<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/minireset.css/0.0.2/minireset.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <!-- Body Wrapper -->
    <div class="bodyWrapper">
      <!-- Side Menu -->
      <div id="pageSideMenu" class="sideMenu">
        <div class="sideMenuBrand">
          <div class="userInfo">
            <i id="closedMenuBtn" class="far fa-times-circle"></i>
            <img src="./img/avatar.png" alt="" />
            <div>
              <div class="name">Administrador</div>
              <div class="emailText">admin@admin.com.br</div>
            </div>
          </div>
          <a class="brandLink" href="#">
            <img src="./img/logo.png" alt="" />
          </a>
        </div>
        <div class="sideMenuLinks">
          <a class="sideMenuLink active" href="#">
            <span>
              <img src="./img/home-icon.png" alt="" />
            </span>
            Home
          </a>
          <a class="sideMenuLink" href="#">
            <span>
              <img src="./img/colaboradores-icon.png" alt="" />
            </span>
            Colaboradores
          </a>
          <a class="sideMenuLink" href="#">
            <span>
              <img src="./img/colaboradores-icon.png" alt="" />
            </span>
            Pacientes
          </a>
          <a class="sideMenuLink" href="#">
            <span>
              <img src="./img/solicitacoes-icon.png" alt="" />
            </span>
            Solicitações
          </a>
          <a class="sideMenuLink" href="#">
            <span>
              <img src="./img/consultas-icon.png" alt="" />
            </span>
            Consultas
          </a>
          <a class="sideMenuLink" href="#">
            <span>
              <img src="./img/medicacoes-icon.png" alt="" />
            </span>
            Medicações
          </a>
          <a class="sideMenuLink" href="#">
            <span>
              <img src="./img/novo-icon.png" alt="" />
            </span>
            Novo paciente
          </a>
        </div>
      </div>
      <!-- Page Contents -->
      <div class="pageContents">
        <!-- Hide Header -->
        <div class="hideHeader">
          <i id="sideMenuBtn" class="fas fa-bars"></i>
          <a class="hideHeaderLogo" href="#">
            <img src="./img/logo.png" alt="" />
          </a>
        </div>
        <div class="dashboardHeader">
          <div class="dropdown">
            <button
              class="headerBtn"
              type="button"
              id="triggerId"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Administrador <i class="fas fa-chevron-down"></i>
              <img src="./img/avatar.png" alt="" />
            </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
              <a class="dropdown-item" href="#">Action 1</a>
              <a class="dropdown-item" href="#">Action 2</a>
              <a class="dropdown-item" href="#">Action 3</a>
            </div>
          </div>
        </div>
        <div class="bodyContents">
          <div class="calanderChart">
            <div class="chartParent">
              <div class="mainText">Todas as consultas</div>
              <div class="calanderHeader">
                <div class="calanderButtons">
                  <a class="calanderBtn active" href="#">Hoje</a>
                  <a class="calanderBtn" href="#">Ontem</a>
                  <a class="calanderBtn" href="#">Amanhã</a>
                </div>
                <div class="oddText">Semana 06/12 - 10/12</div>
                <div class="calanderButtons rightBtns">
                  <a class="calanderBtn" href="#">Mês</a>
                  <a class="calanderBtn" href="#">Semana</a>
                  <a class="calanderBtn" href="#">Dia</a>
                  <a class="calanderBtn active" href="#">Agenda</a>
                </div>
              </div>
              <div class="linesCalandar">
                <div class="numbersRow">
                  <div class="line"></div>
                  <div class="line">6h00</div>
                  <div class="line"></div>
                  <div class="line">7h00</div>
                  <div class="line"></div>
                  <div class="line">8h00</div>
                  <div class="line"></div>
                  <div class="line">9h00</div>
                  <div class="line"></div>
                  <div class="line">10h00</div>
                  <div class="line"></div>
                  <div class="line">11h00</div>
                  <div class="line"></div>
                  <div class="line">12h00</div>
                  <div class="line"></div>
                  <div class="line">13h00</div>
                  <div class="line"></div>
                  <div class="line">14h00</div>
                  <div class="line"></div>
                  <div class="line">15h00</div>
                  <div class="line"></div>
                  <div class="line">16h00</div>
                  <div class="line"></div>
                  <div class="line">17h00</div>
                  <div class="line"></div>
                  <div class="line">18h00</div>
                  <div class="line"></div>
                  <div class="line">19h00</div>
                  <div class="line"></div>
                  <div class="line">20h00</div>
                </div>
                <div class="dateRow active secondRow">
                  <div class="line">Segunda-feira 06/12</div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="pactente">Pactente XXX</div>
                  <div class="pactente green">Pactente XPTO</div>
                </div>
                <div class="dateRow thirdRow">
                  <div class="line">Terça-feira 06/12</div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="pactente">Pactente XXX</div>
                  <div class="pactente green">Pactente XPTO</div>
                </div>
                <div class="dateRow">
                  <div class="line">Quarta-feira 06/12</div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
                <div class="dateRow fourthRow">
                  <div class="line">Quinta-feira 06/12</div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="pactente green">Pactente XPTO</div>
                </div>
                <div class="dateRow fifthRow">
                  <div class="line">Sexta-feira 06/12</div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="pactente">Pactente XXX</div>
                </div>
                <div class="dateRow">
                  <div class="line">Sábado 06/12</div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
                <div class="dateRow">
                  <div class="line">Domingo 06/12</div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
